#div-header{
    display: inline-block;
    background-color: #aa2233;
    color: #FFF;
    height: 40px;
    width:100%;
    margin: 0;

}
#div-header h1{
    text-align: initial;
    font-size: 20px;
}