#filtro{
    border: 1px solid #aa2233;
    border-radius: 5px; 
    padding-left: 40px;
    margin-bottom:10px;
}
#card{
    width: 33,3333%;
    border: 1px solid #aa2233;
    border-radius: 5px;
    background-color: #FFF;
    padding: 0;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
#card #titulo{
    background-color: #aa2233;
    width: 100%;
    height: 50px;
} 
#card #titulo p{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #fff;
    height: 50px;
    margin: 0px;
    margin-left: 25px;
} 
#card hr{
    background-color: tomato;
    margin: 0;
}
#card #conteudo ul li{ 
    color:#aa2233;
    display: block;
    margin-bottom: 15px;
    font-size: 15px;
}
#card #acoes{
    padding-left: 40px;
}
#card #acoes input{
    border: #aa2233;
    border-radius: 5px;
    padding: 10px;
    color: #aa2233;
    font-weight: bold;
}