<div>
    <div id="filtro">
        <h3>Buscar avenida pelo nome</h3>
        <form #bsc="ngForm">
            <input name=nomeFiltro type="text" id="nomeFiltro" [(ngModel)]="nomeFiltro"><br>
            <input type="submit" value="Buscar" (click)="filtrar(bsc)"/>
        </form>

        <div *ngIf="avenida">
        <div id="card" >
        <div id="titulo">
            <p>{{avenida.nome}}</p>
        </div>
        <hr>
        <div id="conteudo">
            <ul>
                <li><p>Extensão: {{avenida.extensao}}</p></li>
                <li><p>Possui ciclofaica: {{avenida.ciclofaixa}}</p></li>
                <li><p>Extensão da ciclofaixa: {{avenida.extensaoCiclofaixa}}</p></li>
                <li><p>Percentual de ciclofaixa: {{avenida.percentagemCiclofaixa}}%</p></li>
            </ul>
        </div>
        <div id="acoes">
            <input type="button" value="Excluir" (click)="excluirAvenida(avenida.id, i)"><br>
        </div>
        
    </div>
        </div>
    </div>

    <h3>Lista de Avenidas cadastradas</h3>

    <div id="card" *ngFor="let avenida of avenidas let i = index" >
        <div id="titulo">
            <p>{{avenida.nome}}</p>
        </div>
        <hr>
        <div id="conteudo">
            <ul>
                <li><p>Extensão: {{avenida.extensao}}</p></li>
                <li><p>Possui ciclofaica: {{avenida.ciclofaixa}}</p></li>
                <li><p>Extensão da ciclofaixa: {{avenida.extensaoCiclofaixa}}</p></li>
                <li><p>Percentual de ciclofaixa: {{avenida.percentagemCiclofaixa}}%</p></li>
            </ul>
        </div>
        <div id="acoes">
            <input type="button" value="Excluir" (click)="excluirAvenida(avenida.id, i)"><br>
        </div>
        
    </div>
</div>
