<div id="formulario">
    <form method="post" #frm="ngForm" (Submit)="cadastrarAvenida(frm)">
        <h3>Cadastro de Avenidas</h3>

        <label for="nome">Nome da avenida:</label><br>
        <input type="text" name="nome" [(ngModel)]="avenida.nome" required placeholder="Digite o nome da Avenida"/><br>

        <label for="extensao">Extensão:</label><br>
        <input type="number" name="extensao" id="extensao" required [(ngModel)]="avenida.extensao" placeholder="Digite a extensao da Avenida"/><br>

        <label for="ciclofaixa">Possui ciclofaixa:</label><br>
        <input type="radio" name="ciclofaixa" id="ciclofaixaSim" value=1 checked [(ngModel)]="avenida.ciclofaixa"/>
        <label for=ciclofaixaSim>Sim</label><br>
        <input type="radio" name="ciclofaixa" id="ciclofaixaNao" value=0 [(ngModel)]="avenida.ciclofaixa">
        <label for="ciclofaixaNao">Não</label><br>

        <input type="number" [disabled]="avenida.ciclofaixa==0" name="extensaoCiclofaixa" id="extensao" required [(ngModel)]="avenida.extensaoCiclofaixa" placeholder="Digite a extensao da ciclovia"/><br>

        <input type="submit" value="Enviar" (click)="cadastrarAvenida(frm)"/>
    </form>
</div>